html, body {
  height: 100%;
  margin: 0;
  background-color: white;
}

#source {
  width: 100%;
  height: 100%;
  border: lightgray solid 1px;
  line-height: 1.4;
}

div.main {
  position: absolute;
  top: 58px;
  bottom: 33px;
  width: 100%;
}

div.main div.row {
  height: 100%;
}

div.main div.row>div {
  height: 100%;
}

nav {
  max-height: 56px;
}

div.footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 25px;
}

div.statusBar {
  position: relative;
  right: 100px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: lightgray solid 1px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
}

div.footerButtons img {
  cursor: pointer;
}

#statusMessage {
  left: 10px;
  right: 100px;
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.canvas-container {
  position: relative;
  height: 100%;
  overflow: auto;
  border: lightgray solid 1px;
}

canvas {
  font-size: 14px;
  font-family: sans-serif;
  display: block;
  position: absolute;
  /*
  top: 0;
  bottom: 0;
  */
  left: 0;
  right: 0;
  margin: auto;
}

nav {
  margin-left: 15px;
  margin-right: 15px;
  z-index: 10;
}

#copyBuffer {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

#loginDialog .modal-footer a {
  margin-right: 10px;
}

.errorMessage {
  color: red;
}

#history {
  max-height: 500px;
  min-width: 300px;
  overflow-y: auto;
  font-size: 0.95rem;
}

#history a {
  white-space: inherit;
}

#history a .date {
  font-size: 0.7rem;
  color: gray;
}

#configuration {
  min-width: 350px;
}

#calendar h2 {
  font-size: 1.15rem;
}

#calendar button {
  font-size: 0.8rem;
}
